/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

 @font-face {
    font-family: 'Roboto-Black';
    src: url('/assets/Roboto-Thin.ttf');
 }

 body {
     background-color: #fafafa;
     font-family: 'Roboto-Black';
 }

 #word_creator {
    margin: 0 auto; 
    width:40%;
 }

 #h2 {
    margin: 3% auto;
    text-align: center;
 }
#secondary_language_main_word {
    width: 100%;
    padding: 7px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border:solid 1px #ccc;
    border-radius: 5px;
}

.submit_button {
    background-color:  #051923;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    color: white;
}

.blocked_button {
    background-color: #D3D3D3;
}

#words {
    margin: 0 auto;
    margin-top: 2%;
    width:40%;

    table {
        width: 100%;
        border-collapse: collapse;
        tr {
            margin: 0 auto;
            text-align: left;
        }
        th, td {
            border-bottom: 1px solid lightgrey;
            padding: 5px 5px 5px 5px;
        }
        td:hover {
            background-color: #f5f5f5;
        }
    }
}